body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-stack {
  gap: 12px;
}

.dashboard-card-wrapper {
  width: 100%;
  margin-bottom: 12px;
}

.dashboard-card {
  border: 1px solid #172d13;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 100%;
}

@media (min-width: 600px) {
  .dashboard-card-wrapper {
    width: calc(50% - 12px);
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .dashboard-card-wrapper {
    width: calc(33.33% - 16px);
  }
}

@media (min-width: 1200px) {
  .dashboard-card-wrapper {
    width: calc(25% - 18px);
  }
}
